/* remove ouline */
a {
    outline: 0;
}
a:hover, a:active, a:focus {
    outline: 0;
    text-decoration: none;
}
object, embed { 
    outline: 0;
}
input::-moz-focus-inner {
    border: 0;
}

/* auto-hide placeholder text upon focus */
input:focus::-webkit-input-placeholder { color:transparent !important; }
input:focus:-moz-placeholder { color:transparent !important; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent !important; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent !important; } /* IE 10+ */